In [12]:
import pandas as pd
import numpy as np
#from sklearn.externals import joblib
import pickle
import warnings
warnings.filterwarnings("ignore", category=FutureWarning)
from sklearn.linear_model import LogisticRegression
#warnings.filterwarnings("ignore", category=DeprecationWarning) 
from sklearn.preprocessing import StandardScaler
import random
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_validate

In [13]:
data = pd.read_csv("heart.csv")
data["trestbps"]=np.log(data["trestbps"])

data=data.drop(["fbs"],axis=1)
data=data.drop(["ca"],axis=1)
data["chol"]=np.log(data["chol"])
target=data["target"]
print(data.shape[1])

12

In [14]:
data

,age,sex,cp,trestbps,chol,restecg,thalach,exang,oldpeak,slope,thal,target
0,63,1,3,4.976734,5.451038,0,150,0,2.3,0,1,1
1,37,1,2,4.867534,5.521461,1,187,0,3.5,0,2,1
2,41,0,1,4.867534,5.318120,0,172,0,1.4,2,2,1
3,56,1,1,4.787492,5.463832,1,178,0,0.8,2,2,1
4,57,0,0,4.787492,5.869297,1,163,1,0.6,2,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,4.941642,5.484797,1,123,1,0.2,1,3,0
299,45,1,3,4.700480,5.575949,1,132,0,1.2,1,3,0
300,68,1,0,4.969813,5.262690,1,141,0,3.4,1,3,0
301,57,1,0,4.867534,4.875197,1,115,1,1.2,1,3,0
302,57,0,1,4.867534,5.463832,0,174,0,0.0,1,2,0

In [15]:
np.random.shuffle(data.values)
data=data.drop(["target"],axis=1)
print(data.columns)

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'restecg', 'thalach', 'exang',
       'oldpeak', 'slope', 'thal'],
      dtype='object')

In [17]:
sc= StandardScaler()
data=sc.fit_transform(data)

In [30]:
lr=LogisticRegression()
lr.fit(data,target)
cv_results = cross_validate(lr, data,target, cv=10)
print(cv_results)

{'fit_time': array([0.01999259, 0.01595092, 0.01491952, 0.01392508, 0.01396227,
       0.0061934 , 0.02408314, 0.01399994, 0.00363064, 0.03166652]), 'score_time': array([0.00195599, 0.00100565, 0.00099182, 0.00099659, 0.00099897,
       0.        , 0.00099826, 0.00195909, 0.        , 0.00199246]), 'test_score': array([0.87096774, 0.74193548, 0.87096774, 0.83333333, 0.83333333,
       0.83333333, 0.9       , 0.8       , 0.73333333, 0.83333333])}

In [31]:
filename = 'Heart-Disease-Prediction-rfc-model.pkl'
pickle.dump(lr, open(filename, 'wb'))

In [32]:
datasamp=np.array([[57,0,0,4.941642,5.484797,1,123,1,0.2,1,3]])

In [33]:
lr.predict(datasamp)

array([1], dtype=int64)

In [35]:
lr.score(data,target)

0.834983498349835